Source: asus-eee-dkms
Section: misc
Priority: optional
Maintainer: DKMS <dkms-devel@Dell.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: asus-eee-dkms
Architecture: all
Depends: dkms (>= 1.95), bash (>> 1.99)
Description: asus-eee driver in DKMS format.
